<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produk</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/landing.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/invoice.css')}}"
    />
  </head>
  <body>
    <nav class="nav-bar">
      <img
        id="logo"
        src="{{url_for('static', filename='images/logo.png')}}"
        alt="logo"
      />
      <div class="nav-link">
        <div class="navigation">
          <a href="{{url_for('index')}}">Home</a>
          <a href="{{url_for('product')}}">Shop</a>
          <a href="{{url_for('orders')}}">Orders</a>
          <a href="{{url_for('profile')}}">Profil</a>
        </div>
        <div class="login-btn">
          <a id="login" href="#">Login</a>
          <a id="sign-up" href="#">Daftar</a>
        </div>
      </div>
    </nav>
    <main>
        <div class="invoice">
            <h2>INVOICE</h2>
            <div class="invoice-header">
              <div class="invoice-info">
                <p><strong>Kode Pembelian:</strong> {{invoice_data.kd_order}}</p>
                <p><strong>Tanggal:</strong> 4 Februari 2025</p>
              </div>
              <div class="customer-info">
                <p><strong>Pelanggan:</strong> {{invoice_data.customer_name}}</p>
                <p><strong>Alamat:</strong> {{invoice_data.address}}</p>
              </div>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Deskripsi</th>
                  <th>Jumlah</th>
                  <th>Harga Satuan</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{invoice_data.product_name}}</td>
                  <td>{{invoice_data.quantity}}</td>
                  <td>Rp {{'{:,.0f}'.format(invoice_data.price)}}</td>
                  <td>Rp {{'{:,.0f}'.format(invoice_data.total_price)}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3" class="total">Subtotal</td>
                  <td>Rp.{{'{:,.0f}'.format(invoice_data.total_price)}}</td>
                </tr>
                <tr>
                  <td colspan="3" class="total">PPN (11%)</td>
                  <td>
                    Rp.{{'{:,.0f}'.format(invoice_data.total_price * 11 / 100)}}
                  </td>
                </tr>
                <tr>
                  <td colspan="3" class="total">Total Bayar</td>
                  <td>
                    <strong
                      >Rp {{'{:,.0f}'.format(invoice_data.total_price +
                      (invoice_data.total_price * 11 / 100))}}</strong
                    >
                  </td>
                </tr>
              </tfoot>
            </table>
            <p class="footer">
              Terima kasih telah berbelanja di Bimantara Stainless Steel
            </p>
        </div>
    </main>
    <footer>
      <div class="footer-content">
        <img
          height="61px"
          src="{{url_for('static', filename='images/logotext.png')}}"
          alt="logo text"
        />
        <p style="font-size: 15px; text-align: center">
          Toko Peralatan Rumah Tangga <br />
          Fokus di Produksi Dandang
        </p>
        <div class="contact">
          <p>Contact Us</p>
          <p>+62 878-3162-0154</p>
        </div>
      </div>
      <div class="copyright">
        <p>@Copyright Bimantara Stainless Steel 2025. All Right Reserved</p>
        <div>
          <img
            style="margin-right: 10px"
            src="{{url_for('static', filename='images/ig.png')}}"
            alt="ig"
          />
          <img
            style="margin-right: 10px"
            src="{{url_for('static', filename='images/email.png')}}"
            alt="email"
          />
          <img src="{{url_for('static', filename='images/fb.png')}}" alt="fb" />
        </div>
      </div>
    </footer>
  </body>
</html>
