<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/landing.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/payment.css')}}"
    />
  </head>
  <body>
    <nav class="nav-bar">
      <img
        id="logo"
        src="{{url_for('static', filename='images/logo.png')}}"
        alt="logo"
      />
      <div class="nav-link">
        <div class="navigation">
          <a href="{{url_for('index')}}">Home</a>
          <a href="{{url_for('product')}}">Shop</a>
          <a href="{{url_for('orders')}}">Orders</a>
          <a href="{{url_for('profile')}}">Profil</a>
        </div>
        <div class="login-btn">
          <a id="login" href="#">Login</a>
          <a id="sign-up" href="#">Daftar</a>
        </div>
      </div>
    </nav>
    <main>
      <div class="qr-card">
        <h1>QR Code Pembayaran</h1>
        <img src="{{url_for('static', filename='images/qr.svg')}}" alt="" />
        <h1>{{ payment_data.product_name }}</h1>
        <h1 style="margin-bottom: 20px">
          Rp {{'{:,.0f}'.format(payment_data.total_price +
          (payment_data.total_price * 11 / 100))}}
        </h1>
        <a href="{{url_for('invoice')}}">Sudah Bayar</a>
      </div>
    </main>
    <footer style="margin-top: 0px">
      <div class="footer-content">
        <img
          height="61px"
          src="{{url_for('static', filename='images/logotext.png')}}"
          alt="logo text"
        />
        <p style="font-size: 15px; text-align: center">
          Toko Peralatan Rumah Tangga <br />
          Fokus di Produksi Dandang
        </p>
        <div class="contact">
          <p>Contact Us</p>
          <p>+62 878-3162-0154</p>
        </div>
      </div>
      <div class="copyright">
        <p>@Copyright Bimantara Stainless Steel 2025. All Right Reserved</p>
        <div>
          <img
            style="margin-right: 10px"
            src="{{url_for('static', filename='images/ig.png')}}"
            alt=""
          />
          <img
            style="margin-right: 10px"
            src="{{url_for('static', filename='images/email.png')}}"
            alt=""
          />
          <img src="{{url_for('static', filename='images/fb.png')}}" alt="" />
        </div>
      </div>
    </footer>
  </body>
</html>
