<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produk</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/landing.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/product.css')}}"
    />
  </head>
  <body>
    <nav class="nav-bar">
      <img
        id="logo"
        src="{{url_for('static', filename='images/logo.png')}}"
        alt="logo"
      />
      <div class="nav-link">
        <div class="navigation">
          <a href="{{url_for('index')}}">Home</a>
          <a href="{{url_for('product')}}">Shop</a>
          <a href="{{url_for('orders')}}">Orders</a>
          <a href="{{url_for('profile')}}">Profil</a>
        </div>
      </div>
    </nav>
    <main>
      <div class="quality">
        <h1>“Dandang Kukus Bimantara”</h1>
        <p>
          Nikmati hasil kukusan yang sempurna setiap kali dengan Dandang Kukus
          Bimantara. Dibuat dengan bahan stainless steel berkualitas <br />
          tinggi, produk kami menjamin kekuatan, keawetan, dan efisiensi dalam
          setiap penggunaan.
        </p>
        <p>Tingkatkan kualitas masakan Anda dengan Dandang Kukus Bimantara!</p>
      </div>
      <div>
        <div class="card-container">
          {% for product in products %}
          <a
            href="{{ url_for('checkout', produk=product[1]) }}"
            class="card-product"
          >
            <img
              src="{{url_for('static', filename='images/dandangproduk.png')}}"
              height="200px"
              alt="gambar dandang"
            />
            <div class="detail">
              <p>{{ product[0] }}</p>
              <p>Rp.{{ "{:,.0f}".format(product[2]) }}</p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-content">
        <img
          height="61px"
          src="{{url_for('static', filename='images/logotext.png')}}"
          alt="logo text"
        />
        <p style="font-size: 15px; text-align: center">
          Toko Peralatan Rumah Tangga <br />
          Fokus di Produksi Dandang
        </p>
        <div class="contact">
          <p>Contact Us</p>
          <p>+62 878-3162-0154</p>
        </div>
      </div>
      <div class="copyright">
        <p>@Copyright Bimantara Stainless Steel 2025. All Right Reserved</p>
        <div>
          <img
            style="margin-right: 10px"
            src="{{url_for('static', filename='images/ig.png')}}"
            alt="ig"
          />
          <img
            style="margin-right: 10px"
            src="{{url_for('static', filename='images/email.png')}}"
            alt="email"
          />
          <img src="{{url_for('static', filename='images/fb.png')}}" alt="fb" />
        </div>
      </div>
    </footer>
  </body>
</html>
