.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}
.form label {
    margin-top: 10px;
}
.form input {
    margin-top: 5px;
    padding: 6px;
    width: 500px;
}
.form select {
    margin-top: 5px;
    padding: 6px;
    width: 500px;
}
.form textarea {
    margin-top: 5px;
    padding: 6px;
    width: 500px;
}
.form button {
    margin-top: 20px;
    width: 520px;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
}
.alert{
    background-color: rgb(243, 147, 147);
    color: red;
    margin: 6px;
    padding: 10px;
    border: red solid 1px;
    text-align: center;
}